/*
.create-user-container {
  padding: 5px;
  height: 100px;
}

.create-user-button,
.enter-create-menu-button,
.exit-create-user-button {
  margin: 10px 5px;
  transition: 0.15s;
  font-size: 16px;
  color: black;
  background-color: rgb(250, 250, 250);
  padding: 5px;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid black;
}

.create-user-button:hover,
.exit-create-user-button:hover,
.enter-create-menu-button:hover {
  cursor: pointer;
  transition: 0.15s;
  background-color: rgb(240, 240, 240);
}

.set-age-input,
.set-name-input {
  border: 1px solid black;
  height: 20px;
  margin-top: 2px;
  padding: 2px;
}

.create-user-button {
  background-color: rgb(218, 255, 233);
}

.exit-create-user-button {
  background-color: rgb(255, 218, 233);
}
*/
